* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.animated-text {
    font-size: 4rem;
    color: #333;
    animation: textZoom 3s infinite ease-in-out;
}

@keyframes textZoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #555;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0073e6;
}

.social-links p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}
